<a href="https://colab.research.google.com/github/303001069/DataScience/blob/master/Home_exercise_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
#List=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List=list(range(1,11))
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [2]:
List.append(20)
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
List_zeros=[0,0]
List=List[:4]+List_zeros+List[4:]
List

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [4]:
List.sort(reverse=True)
List

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [5]:
List=List[:-2]
List

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [6]:
List.reverse()
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [7]:
len(List)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [8]:
print(f'The minimum value is {min(List)}. \nThe maximum value is {max(List)}. \nThe sum of the values is {sum(List)}.')
#print(min(List))
#print(max(List))
#print(sum(List))

The minimum value is 1.
The maximum value is 20.
The sum of the values is 75.

9. What will happen if you multiply the list by 2?

In [9]:
List=[value*2 for value in List]
List

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 40]

10. Can you divide the list by 3?

In [10]:
List=[value/3 for value in List]
List

[0.6666666666666666,
 1.3333333333333333,
 2.0,
 2.6666666666666665,
 3.3333333333333335,
 4.0,
 4.666666666666667,
 5.333333333333333,
 6.0,
 6.666666666666667,
 13.333333333333334]

# Tupples
 
1. Create a tupple with three characters and four numbers

In [11]:
Tupple=("a", "b", "c", 1, 2, 3, 4)
Tupple

('a', 'b', 'c', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [12]:
Tupple2=(False, True)
Tupple=Tupple+Tupple2
Tupple

('a', 'b', 'c', 1, 2, 3, 4, False, True)

In [13]:
#דרך נוספת עם המרה ל list
#List=list(Tupple)
#List.append(False)
#List.append(True)
#Tupple=tuple(List)
#Tupple

3. Retrieve the third to sixth items from the tupple

In [14]:
Tupple[3:6]

(1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [15]:
List1=list(Tupple[0:3])
List2=list(Tupple[3:7])
List3=list(Tupple[7:])
Tupple_muttable=([List1],[List2],[List3])
Tupple_muttable

([['a', 'b', 'c']], [[1, 2, 3, 4]], [[False, True]])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [16]:
paragraph = ("Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object")
set1 = set(paragraph.split(' '))
set1

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [17]:
#אם הכוונה היתה להימנע מכפילויות עקב אותיות גדולות וקטנו:
paragraph=paragraph.lower()
set1 = set(paragraph.split(' '))
set1

{'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'shallow',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [18]:
Dictionary={
  1020:('Harry Smith',	'Sales Manager'	,'030-223.65.44'),
  2201:('Margaret Holsum',	'Sales Representative','030-223.64.12'),
  3320:('Lasly Howard',	'Human Resources','030-223.83.33'),
  8111:('Larry Johnson',	'Project Manager'	,'030-224.22.00'),
  2733:('Hellen Young',	'Customer Service',	'030-223.03.20')
}

1. Get all the keys of the dictionary

In [19]:
Dictionary.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [20]:
Dictionary.values()

dict_values([('Harry Smith', 'Sales Manager', '030-223.65.44'), ('Margaret Holsum', 'Sales Representative', '030-223.64.12'), ('Lasly Howard', 'Human Resources', '030-223.83.33'), ('Larry Johnson', 'Project Manager', '030-224.22.00'), ('Hellen Young', 'Customer Service', '030-223.03.20')])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [21]:
Dictionary[3320]

('Lasly Howard', 'Human Resources', '030-223.83.33')

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [22]:
#מספר ראשוני מתחלק בעצמו וב 1
#הדרך לפתור את הבעיה היא פשוט להריץ 2 לופים, הראשון ירוץ מ 1 עד 100
#השני ירוץ מ 2 עד חצי מערך המספר 
# בתוך הלופ השני נוסיף תנאי שיספור כמה פעמים המספר מתחלק ללא שארית
#בסוף נוסיף תנאי ללופ הראשון - אם לא היתה שום ספירה של מספרים שמתחלקים ללא שארית - אז המספר הוא ראשוני


for num in range (1, 101): # מטרת הלופ הראשון היא פשוט לרוץ על כל המספרים מ 1 עד 100
  divide_number=0 #מטרת הערך הזה היא לספור בכמה מספרים המספר מתחלק ללא שארית
  for num2 in range(2, (num//2 + 1)): #מטרת הלופ השני היא לחלק את המספר בכל המספרים מ 2 עד חצי מערכו
    if(num % num2 == 0): #לספור כמה מספרים מתחלקים עם שארית אפס
      divide_number+=1
      break

  if (divide_number == 0): # אם המספר לא מתחלק בשום מספר מ 2 עד חצי מערכו אז להדפיס את המספר 
    print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [23]:
num = 1
while(num <= 100):
  divide_number = 0
  num2 = 2
  while(num2 <= num//2):
    if(num % num2 == 0):
      divide_number+=1
      break
    num2+=1

  if (divide_number == 0):
    print(num)
  num+=1

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97